# --- Frontend (Node/Vite) ---
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# --- Backend (Python) ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/

# --- IDEs e Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Supabase / Logs ---
.supabase/
*.log