@import './fonts.css';
@import './tailwind.css';
@import './theme.css';


@layer base {
    html, body {
        overscroll-behavior-y: none;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    body {
        height: 100dvh;
        padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
        display: flex;
        flex-direction: column;
    }

    body:not(:focus-within) {
        position: fixed;
        overflow: hidden;
    }
  
    .flex-none {
        flex-shrink: 0;
    }

    #root {
        height: 100%;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    input[type="text"] {
        font-size: 16px !important;
    }

    .flex-1 {
        flex-basis: 0;
        flex-grow: 1;
        min-height: 0;
    }

    @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }

    .animate-spin-slow {
        animation: spin 1s linear infinite;
    }
}